$background-color: rgba(244, 218, 200, 0.38);
$background-secondary:#F6F6EF;
$primary-color:white;
$navbar-button-color: #FF6600;
$border-container:rgba(234, 117, 34, 0.28);
$border-bottom:grey;
$box-shadow-container:rgba(0, 0, 0, 0.1);


$font-family1: 'Montserrat', sans-serif;
$font-family2: 'Open Sans', sans-serif;
