@import './config';

.contents{
    background-color: $background-secondary;
    width: 100%;
}
.new-posts{
    width: 100%;
}
tr{
    width: 100%;
    border-bottom: 1px solid $border-bottom;
}
tr th{
    height: auto;
    padding: 10px 15px;
    font-weight: 100;
}