@import './config';

.contents{
    background-color: $background-secondary;
    width: 100%;
}
.new-posts{
    width: 100%;
    height: auto;
}
.content-one{
    display: flex;
    // padding: 10px;
}
.content-two{
    display: flex;
    margin-top: -20px !important;
    padding: 10px;
    margin: 5px;
}
.content-two a{
    color: $tertiary-color !important;
    text-decoration: none;
    font-size: 12px;
}
.content-one p:first-child,
.content-one p:last-child
    {
    color: $tertiary-color;
    font-size: 12px;
    padding: 05px 05px;
}
.content-two a:first-child{
    padding-right: 10px;
}
.content-two a:last-child{
    padding-left: 10px;
}