@import "./config";

.navbar-top {
  background-color: $navbar-button-color;
  color: $primary-color;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
#with-links a{
    text-decoration: none;
    color: $primary-color;
}
#with-links a:hover{
    color: $secondary-color;
}
.right-contents{
    display: flex;
    align-items: center;
}
h5{
    margin: 5px;
}
.navbar-top ul {
  display: flex;
  list-style: none;
  margin: 5px;
}
.navbar-top ul li{
  padding: 10px;
}

